#! /bin/sh

# Remove the busybox ip program
rm -f /sbin/ip

# Disable server start
echo "NO_SERVERS=yes" >> /etc/profile

# MSERVER_CMD is executed by /etc/init.d/99main.rc
echo "MSERVER_CMD=/bin/nsm-nse-generic" >> /etc/profile


